body{
    margin:0;
    padding:0;
    background-img:url("space.jpg");
    background-size:cover;
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 400px;
    height: 420px;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}
i{
    align-items: center;
    display: inline-block;
    background: #00ffff00;
    margin: 10px;
    border-radius: 40%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #fff;
}
.wrapper h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-bottom: 8%;
    font-family: sans-serif;
}
.wrapper a{
    text-decoration: none;
    color: orange;
}

.wrapper label{
    text-decoration: none;
    color: white;
}

.wrapper p{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}
.wrapper input{
    width: 100%;
    margin-bottom: 20px;
}
.wrapper input[type=text],.wrapper input[type=password]{
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: orange;
}
.wrapper input[type=submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #ff9933;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.wrapper input[type=submit]:hover{
    cursor: pointer;
}

.wrapper input[type=reset]{
    border: none;
    outline: none;
    height: 20px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.wrapper input[type=submit]:hover{
    cursor: pointer;
}
.bottom-text a{
    width: 100%;
    float: left;
    background: transparent;
    text-decoration: none;
    border: none;
    color: dimgrey;
    font-size: 15px;
}
.bottom-text a{
    float: center;
}
#overlay-area{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
.wrapper .button input[type=link]{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    font-size: 14px;
}
.wrapper .button input[type=link]:hover{
    cursor: pointer;
}